<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas"
  aria-labelledby="offcanvasWithBothOptionsLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="accordion accordion-flush shadow-sm" id="accordion">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/benefit', false)}" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseBenefits" aria-expanded="false"
            aria-controls="collapseBenefits">
            Beneficios
          </button>
        </h2>
        <div id="collapseBenefits" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/benefit', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a *ngIf="isAdmin" class="list-group-item list-group-item-action" routerLink="/benefit/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/benefit/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAdmin" class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/benefit-detail', false)}" class="accordion-button"
            type="button" data-bs-toggle="collapse" data-bs-target="#collapseBenefitDetails" aria-expanded="false"
            aria-controls="collapseBenefitDetails">
            Beneficios > Detalles
          </button>
        </h2>
        <div id="collapseBenefitDetails" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/benefit-detail', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" routerLink="/benefit-detail/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/benefit-detail/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/benefit-employee', false)}" class="accordion-button"
            type="button" data-bs-toggle="collapse" data-bs-target="#collapseBenefitEmployee" aria-expanded="false"
            aria-controls="collapseBenefitEmployee">
            {{ isAdmin ? 'Beneficios - Empleados' : 'Mis Beneficios' }}
          </button>
        </h2>
        <div id="collapseBenefitEmployee" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/benefit-employee', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a *ngIf="isAdmin" class="list-group-item list-group-item-action" routerLink="/benefit-employee/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/benefit-employee/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAdmin" class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/dependency', false)}" class="accordion-button"
            type="button" data-bs-toggle="collapse" data-bs-target="#collapseDependencias" aria-expanded="false"
            aria-controls="collapseDependencias">
            Dependencias
          </button>
        </h2>
        <div id="collapseDependencias" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/dependency', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" routerLink="/dependency/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/dependency/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAdmin" class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/position', false)}" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapsePositions" aria-expanded="false"
            aria-controls="collapsePositions">
            Cargos
          </button>
        </h2>
        <div id="collapsePositions" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/position', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" routerLink="/position/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/position/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAdmin" class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/user', false)}" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false"
            aria-controls="collapseUsers">
            Usuarios
          </button>
        </h2>
        <div id="collapseUsers" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/user', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" routerLink="/user/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/user/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isAdmin" class="accordion-item">
        <h2 class="accordion-header">
          <button [ngClass]="{'collapsed': !router.isActive('/role', false)}" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseRoles" aria-expanded="false"
            aria-controls="collapseRoles">
            Roles
          </button>
        </h2>
        <div id="collapseRoles" class="accordion-collapse collapse"
          [ngClass]="{'show': router.isActive('/role', false)}" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" routerLink="/role/create"
                routerLinkActive="active">Nuevo</a>
              <a class="list-group-item list-group-item-action" routerLink="/role/index"
                routerLinkActive="active">Listado</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>