<div class="row mt-5">
  <div class="col">

    <div class="row px-5">

      <div class="col-xs-12 col-md-4 d-flex flex-column my-2">
        <div *ngIf="!loaded">
          <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
        </div>
        {{ role?.name }}
        <span class="form-text">Nombre</span>
      </div>

    </div>

    <div class="btn-group float-end mt-5 mb-5">
      <button backButton class="btn">Volver</button>
      <a routerLink="/role/edit/{{role?.id}}" class="btn btn-warning" aria-current="page"
        [ngClass]="{'disabled': !loaded}">Editar</a>
    </div>

  </div>
</div>