@if (showScreen) {
<section class="align-items-center bg-gradient d-flex flex-column p-5 rounded-4 shadow-lg">
  <img src="./assets/images/pajaro_transparencia.png" width="65" class="pb-5">
  <form class="w-100" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-floating mb-3">
      <input type="email" id="email" name="email" class="form-control" placeholder="Correo" formControlName="email"
        required />
      <label for="email" class="form-label">Correo</label>
      @if (isValidField('email')) {
      <small class="text-danger">{{ userIdErrors }}</small>
      }
    </div>
    <div class="form-floating mb-3">
      <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
        formControlName="password" required />
      <label for="password" class="form-label">Contraseña</label>
      @if (isValidField('password')) {
      <small class="text-danger">{{ passwordErrors }}</small>
      }
    </div>

    <div>
      <a [routerLink]="['../','forgot-password']" [relativeTo]="activatedRoute" class="btn btn-link pe-5 me-5">Olvidé mi
        contraseña</a>
      <button type="submit" class="btn btn-outline-danger">Login</button>
    </div>
    <input type="hidden" id="device_name" formControlName="device_name" />
    </form>
  </section>
}