<div class="row">
  <div class="col">
    <div class="btn-group float-end mt-5 mb-5">
      <button backButton class="btn btn-outline-secondary">Volver</button>
      <a [routerLink]="['../../edit',user?.id]" [relativeTo]="activatedRoute" class="btn btn-warning" aria-current="page"
        [ngClass]="{'disabled': !loaded}">Editar</a>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-around">
  <div class="col col-md-9">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th class="text-end">Nombre</th>
          <td>{{ user?.name }}</td>
        </tr>
        <tr>
          <th class="text-end">Correo Electrónico</th>
          <td>{{ user?.email }}</td>
        </tr>
        <tr>
          <th class="text-end">Cargo</th>
          <td>{{ user?.positions?.name }}</td>
        </tr>
        <tr>
          <th class="text-end">Dependencia</th>
          <td>{{ user?.dependency?.name }}</td>
        </tr>
        <tr>
          <th class="text-end">Roles</th>
          <td>{{ user?.roles | pluckJoin:'name' }}</td>
        </tr>
        <tr>
          <th class="text-end">Jefe</th>
          <td *ngIf="!user?.parent else parent">No Registra</td>
          </tr>
        <tr>
          <td colspan="2">
            <h5 class="mt-2">Preferencias</h5>
            <table class="table table-hover table-borderless">
              <tbody>
                <tr *ngFor="let preference of userPreferences">
                  <th>{{ preference.name }}</th>
                  <td>{{ preference.values }}</td>
                </tr>
                </tbody>
                </table>
          </td>
          </tr>
          </tbody>
          </table>
          </div>
          </div>



<!-- Templates -->
<ng-template #parent>
  <td>
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      [routerLink]="['../../show', user?.parent?.id ]" [relativeTo]="activatedRoute">{{ user?.parent?.name }}</a>
  </td>
</ng-template>