<form class="p-5" [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
        <p-panel [header]="'Relación Rol - Permisos para el rol ' + role?.name">
            <div class="mb-3 form-floating" formArrayName="permissions">
                @for (group of permissionsArray.controls; track $index) {

                <!-- TODO: Try to change checkboxes to PrimeNg table with checkboxes and search https://primeng.org/table -->
                <div [formGroupName]="$index" class="mb-2">
                    <p-checkbox
                        class="mx-2"
                        [inputId]="
                            'permission-' + group.get('permission')?.value.id
                        "
                        formControlName="checked"
                        binary="true"
                    ></p-checkbox>

                    <label
                        class="mx-2"
                        [for]="
                            'permission-' + group.get('permission')?.value.id
                        "
                    >
                        {{ group.get("permission")?.value.name }}
                    </label>
                </div>
                }
            </div>
        </p-panel>
    </div>

    <div class="mb-3">
        <button class="btn btn-success float-end" type="submit">
            {{ role?.id ? "Actualizar" : "Crear" }}
        </button>
    </div>
</form>

<pre>{{ form.value | json }}</pre>
