<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Buscar..."
            />
        </p-iconfield>
        <div>
            <p-button
                pTooltip="Actualizar listado"
                type="button"
                icon="fa fa-solid fa-refresh"
                (click)="reload()"
                text
            />
        </div>
    </ng-template>
    <ng-template #end>
        <p-button
            severity="success"
            label="Guardar"
            icon="fa fa-solid fa-lock"
            (onClick)="save()"
        />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    dataKey="name"
    [globalFilterFields]="['name']"
    [value]="permissions"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="loading"
    [(selection)]="selectedPermissions"
>
    <ng-template #header>
        <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th>Name</th>
        </tr>
    </ng-template>
    <ng-template #body let-permission>
        <tr>
            <td>
                <p-tableCheckbox [value]="permission" />
            </td>
            <td>{{ permission.name }}</td>
        </tr>
    </ng-template>
</p-table>
