<div class="row">
  <div class="col">
    <div class="btn-group float-end mt-5 mb-5">
      <button backButton class="btn btn-outline-secondary">Volver</button>
      <a *ngIf="isAdmin" routerLink="/benefit/edit/{{benefit.id}}" class="btn btn-warning" aria-current="page"
        [ngClass]="{'disabled': !loaded}">Editar</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="row px-5">

      <div class="col-10 d-flex flex-column my-2">
        <div *ngIf="!loaded">
          <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
        </div>
        {{ benefit.name }}
        <span class="form-text">Nombre</span>
      </div>
      <div *ngIf="filePoliticas" class="col-2">
        <p><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{{filePoliticas}}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square me-1"></i>Política</a>
        </p>
      </div>

    </div>

    <div class="row px-5">

      <div class="col-12">

        <div *ngIf="!loaded else benefitDetail">
          <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
        </div>

      </div>

    </div>

  </div>
</div>



<!-- Templates -->

<ng-template #benefitDetail>
  <table class="table table-hover table-sm">
    <thead class="bg-dark text-light">
      <tr>
        <th>Posibles configuraciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let benefit_detail of benefit?.benefit_detail">
        <td>
          <p>{{ benefit_detail.name }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>