<div class="row">
  <div class="col">
    <div class="btn-group float-end mt-5 mb-5">
      <button backButton class="btn btn-outline-secondary">Volver</button>
      @if (isAdmin) {
        <a [routerLink]="['../../edit',benefit?.id]" [relativeTo]="activatedRoute" class="btn btn-warning"
          aria-current="page"
        [ngClass]="{'disabled': !loaded}">Editar</a>
      }
    </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="row px-5">

      <div>
        @if (!loaded) {
          <div>
            <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
          </div>
        }
        {{ benefit?.name }}@if (!benefit?.valid_id && loaded) {
        <span class='badge rounded-pill text-bg-danger ms-1'>Inactivo</span>
      }
    </div>
    <span class="form-text">Nombre</span>
    @if (filePoliticas) {
      <div class="col-2">
        <p><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          href="{{filePoliticas}}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square me-1"></i>Política</a>
        </p>
      </div>
    }

  </div>

  <div class="row px-5">

    <div class="col-12">

      @if (!loaded) {
        <div>
          <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
        </div>
      } @else {
        <table class="table table-hover table-sm">
          <thead class="bg-dark text-light">
            <tr>
              <th>Posibles configuraciones</th>
            </tr>
          </thead>
          <tbody>
            @for (benefit_detail of benefit?.benefit_detail; track benefit_detail) {
              <tr>
                <td>
                  <p>{{ benefit_detail.name }}</p>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }

    </div>

  </div>

</div>
</div>



<!-- Templates -->

