<div class="row">
    <div class="col">
        <div class="btn-group float-end mt-5 mb-5">
            <button backButton class="btn btn-outline-secondary">Volver</button>
            @if (authService.validarActions([1])) {
            <a
                [routerLink]="['../../edit', benefitDetail?.id]"
                [relativeTo]="activatedRoute"
                class="btn btn-warning"
                aria-current="page"
                [ngClass]="{ disabled: !loaded }"
                >Editar</a
            >
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="row px-5">
            <div class="col-12 d-flex flex-column my-2">
                @if (!loaded) {
                <div>
                    <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
                </div>
                }
                {{ benefitDetail?.name }}
                <span class="form-text">Nombre</span>
            </div>
        </div>

        <div class="row px-5">
            <div class="col-12">
                @if (!loaded) {
                <div>
                    <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
                </div>
                } @else {
                <table class="table table-hover table-sm">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th>Beneficio al que pertenece</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (benefit of benefitDetail?.benefit; track benefit)
                        {
                        <tr>
                            <td>
                                <a
                                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                    routerLink="/basic/benefit/show/{{
                                        benefit.id
                                    }}"
                                    >{{ benefit.name }}</a
                                >
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
        </div>
    </div>
</div>

<!-- Templates -->
