<div class="row mt-5">
  <div class="col">
    <form [formGroup]="createForm" (ngSubmit)="save()">
      <div class="row mb-3">
        <p-panel header="Redimir nuevo Beneficio">
          <div class="px-2 d-flex flex-column justify-content-evenly">

            <!-- Beneficios -->
            <div class="row mb-3">
              <label for="benefit_id">Selecciona un beneficio *</label>
              <div class="p-inputgroup">
                <p-dropdown #benefit class="w-100" styleClass="w-100" optionLabel="name" optionValue="id"
                  formControlName="benefit_id" [options]="benefits" placeholder="-- Seleccione Beneficio --"
                (onChange)="fillBenefitDetail($event)"></p-dropdown>
                @if (userAndBenefitSpinner) {
                  <span class="p-inputgroup-addon">
                    <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
                  </span>
                }
              </div>
              @if (isValidField('benefit_id')) {
                <small class="text-danger">{{ benefitIdErrors }}</small>
              }
            </div>

            <!-- Detalles - Beneficios -->
            <div class="row mb-3">
              <label for="benefit_detail_id">Selecciona un Detalle *</label>
              <div class="p-inputgroup">
                <p-dropdown class="w-100" styleClass="w-100" optionLabel="name" optionValue="id" formControlName="benefit_detail_id"
                  [options]="benefit_details" placeholder="-- Seleccione Detalle --" (onChange)="enableCalendar()"></p-dropdown>
                @if (!benefitDetailSpinner) {
                  <span class="p-inputgroup-addon">
                    <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
                  </span>
                }
              </div>
              @if (isValidField('benefit_detail_id')) {
                <small class="text-danger">{{ benefitDetailIdErrors }}</small>
              }
            </div>

            <div class="row mb-3">
              <label for="benefit_detail_id">Selecciona una fecha *</label>
              <p-calendar styleClass="w-100" #calendar [showTime]="true" formControlName="rangeDates" selectionMode="single"
                [readonlyInput]="true" [disabledDays]="disabledDays" [numberOfMonths]="numberOfMonths" appendTo="body"
              [baseZIndex]="2000" [hideOnDateTimeSelect]="false"></p-calendar>
            </div>

            <div class="mb-3">
              <label for="request_comment" class="text-body-tertiary">Comentarios</label>
              <textarea class="w-100" styleClass="w-100" pInputTextarea formControlName="request_comment" id="request_comment"
                [autoResize]="true" rows="1"></textarea>
            </div>

            <div class="text-end text-body-tertiary">
              @if (user?.parent?.name ) {
                <small>Tu beneficio será decidido por: {{ user?.parent?.name }}</small>
              }
              @else {
              <small>No tienes un colaborador superior asignado, tu beneficio será aprobado automaticamente</small>
            }
          </div>
        </div>
      </p-panel>
    </div>

    <input type="hidden" formControlName="benefit_begin_time" />
    <input type="hidden" formControlName="benefit_end_time" />
    <input type="hidden" formControlName="user_id" />

    <div class="mb-3">
      <button class="btn btn-success float-end" type="submit" [disabled]="disableSubmitBtn">
        {{ currentUserBenefits?.id ? "Actualizar" : "Crear" }}
      </button>
    </div>
  </form>
</div>
</div>