<p-confirmDialog appendTo="body"></p-confirmDialog>

<div class="row">
  <div class="col">
    <div class="btn-group float-end mt-5 mb-5">
      <button backButton class="btn btn-outline-secondary">Volver</button>
      <a [routerLink]="['../../edit', position?.id]" [relativeTo]="activatedRoute" class="btn btn-warning" aria-current="page"
      [ngClass]="{'disabled': !loaded}">Editar</a>
      <a class="btn btn-outline-danger" (click)="destroy()" [ngClass]="{'disabled': !loaded}">Eliminar</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="row px-5">

      <div class="col-12 d-flex flex-column my-2">
        @if (!loaded) {
          <div>
            <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
          </div>
        }
        {{ position?.name }}
        <span class="form-text">Nombre</span>
      </div>

    </div>

  </div>
</div>