<div class="row">
  <div class="col">
    <div class="btn-group float-end mt-5 mb-5">
      <a [routerLink]="['../../edit', benefitUser?.benefit_user![0].id]" [relativeTo]="activatedRoute" class="btn btn-warning"
        aria-current="page" [ngClass]="{'disabled': !loaded}">Editar</a>
      <a class="btn btn-outline-danger" (click)="deleteBenefit(benefitUser?.benefit_user![0].id)"
        [ngClass]="{'disabled': !loaded}">Eliminar</a>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-around">
  <div class="col col-md-9">
    <table class="table table-hover table-borderless">
      <tbody>
        <tr>
          <th>Colaborador</th>
          <td>{{ benefitUser?.name }}</td>
        </tr>
        <tr>
          <th>Beneficio</th>
          <td>{{ benefitUser?.benefit_user![0].benefits.name }}</td>
        </tr>
        <tr>
          <th>Detalle</th>
          <td>{{ benefitUser?.benefit_user![0].benefit_detail.name }}</td>
        </tr>
        <tr>
          <th>Fecha de creación</th>
          <td>{{ benefitUser?.benefit_user![0].created_at | date }}</td>
        </tr>
        <tr>
          <th>Fecha de redención</th>
          <td>{{ benefitUser?.benefit_user![0].benefit_begin_time | date }}</td>
        </tr>
        <tr>
          <th>Finalización</th>
          <td>{{ benefitUser?.benefit_user![0].benefit_end_time | date }}</td>
        </tr>
        <tr>
          <th>Observaciones</th>
          <td>{{ benefitUser?.benefit_user![0].request_comment }}</td>
        </tr>
        <tr>
          <th>Decisión</th>
          @switch (benefitUser?.benefit_user![0].is_approved ) {
          @case (0){
          <td>Pendiente</td>
          }
            @case (1){
            <td>Aprobado</td>
            }
            @case (2){
            <td>Rechazado</td>
            }
          }
        </tr>
        <tr>
          <th>Motivo</th>
          <td>{{ benefitUser?.benefit_user![0].decision_comment }}</td>
        </tr>
        </tbody>
        </table>
  </div>
</div>