<div class="card text-bg-light shadow p-3 mt-3">
  <div class="d-flex align-items-center justify-content-center flex-wrap">
    <span class="badge text-bg-warning mx-3">Mi Banco de Horas</span>
    <span class="badge text-bg-danger mx-3">Mi Cumpleaños</span>
    <span class="badge text-bg-success mx-3">Mi Viernes</span>
    <span class="badge text-bg-dark mx-3">Mis Vacaciones</span>
    <span class="badge text-bg-secondary mx-3">Dia de la Familia</span>
    <span class="badge text-bg-primary mx-3">Otros Eventos</span>
  </div>

  <full-calendar #calendar [options]="calendarOptions"></full-calendar>

  <!-- Modal -->
  <div class="card flex justify-content-center">
    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
      <ng-template pTemplate="header">
        <h5 class="modal-title">Detalle del Beneficio</h5>
      </ng-template>
      <div class="container">
        <h2>Colaborador: {{ modalData?.extendedProps.user.name }}</h2>
        <div class="row">
          <div class="col-6">
            <small>Beneficio</small>
            <p>{{ modalData?.title }}</p>
          </div>
          <div class="col-6">
            <small>Detalle</small>
            <p>{{ modalData?.extendedProps.benefit_detail.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <small>Fecha de redención</small>
            <p>{{ modalData?.startStr | date:'medium' }}</p>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        @if (isAdmin) {
          <a class="btn btn-warning" href="/basic/benefit-employee/edit/{{ modalData?.id }}">
            Editar
          </a>
        }
        @if (isAdmin) {
          <a class="btn btn-outline-danger" (click)="deleteBenefit( modalData?.id )">
            Eliminar
          </a>
        }
      </ng-template>
    </p-dialog>
  </div>
</div>