<div class="row mb-3 d-flex flex-row">
    <div class="col-11">
        <form [formGroup]="formGroup">
            <p-dropdown class="w-100" styleClass="w-100" optionLabel="name" optionValue="id" formControlName="user_id"
                [options]="collaborators" placeholder="-- Seleccione Colaborador --"
                (onChange)="fillBenefits()"></p-dropdown>
        </form>
    </div>
    <div [ngClass]="{'invisible': loaded}" class="col-1">
        <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
    </div>
</div>

<div class="row mb-3">
    <mi-horario-flexible [data]="miHorarioFlexible"></mi-horario-flexible>
</div>
<div class="row mb-3">
    <mi-cumpleanos [data]="miCumpleanos"></mi-cumpleanos>
</div>
<div class="row mb-3">
    <dia-de-la-familia [data]="diaDeLaFamilia"></dia-de-la-familia>
</div>
<div class="row mb-3">
    <trabajo-hibrido [data]="trabajoHibrido"></trabajo-hibrido>
</div>
<div class="row mb-3">
    <mi-viernes [data]="miViernes"></mi-viernes>
</div>
<div class="row mb-3">
    <mi-banco-de-horas [data]="miBancoHoras"></mi-banco-de-horas>
</div>
<div class="row mb-3">
    <mis-vacaciones [data]="misVacaciones"></mis-vacaciones>
</div>
<div class="row mb-3">
    <calendar-component [year]="year" [data]="calendarData"></calendar-component>
</div>