<p-toolbar styleClass="mb-4">
    <year-selector (yearChanged)="getBenefitDetail($event)"></year-selector>
    <form [formGroup]="formGroup">
        <p-dropdown [filter]="true" class="w-100" styleClass="w-100" optionLabel="name" optionValue="id"
            formControlName="user_id" [options]="collaborators" placeholder="-- Seleccione Colaborador --"
            (onChange)="fillBenefits()"></p-dropdown>
    </form>
</p-toolbar>
@if(currentUser){
<div class="row mb-3">
    <benefit-detail-container [data]="currentUser"></benefit-detail-container>
    </div>
    <div class="row mb-3">
    <calendar-component [year]="year!" [data]="calendarData"></calendar-component>
    </div>
}