<div class="row mt-5">
  <div class="col">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-sm w-100 nowrap">
    </table>
  </div>
</div>
<ng-template #dataTableOptions let-data="adtData">
  <div>
    <a [routerLink]="['..', 'show', data.id]" [relativeTo]="activatedRoute" class="mx-1 badge rounded-pill text-bg-warning">
      Detalles
      <i class="fa-solid fa-circle-info fa-fade"></i>
    </a>
    <a class="mx-1 badge rounded-pill text-bg-danger" (click)="loginAs(data.id)">
      Iniciar sesión como...
      <i class="fa-solid fa-circle-info fa-fade"></i>
    </a>
  </div>
</ng-template>