<div class="row">
  <div class="col">
    <form class="p-5" [formGroup]="createForm" (ngSubmit)="save()" enctype="multipart/form-data">
      <div class="mb-3">
        <p-panel header="Información del Beneficio">
          <div [ngClass]="{'d-flex logo-container mb-3 justify-content-around': !logoInput}" #svgContainer>
            <img class="h-100" [src]="helpers.imgFromSVG(benefit?.encoded_logo)" alt="">
          </div>
          <div class="mb-3 form-floating">
            <input [ngClass]="{ invalid: isValidField('name') }" class="form-control" type="text" formControlName="name"
              id="name" placeholder="Nombre Completo" />
            <label class="form-label" for="name"><i class="fa-solid fa-box me-1"></i>Nombre del Beneficio</label>
            @if (isValidField('name')) {
            <small class="text-danger">{{ benefitNameErrors }}</small>
            }
          </div>

          @if (politicsInput) {
          <div class="mb-3">
            <label for="filePoliticas" class="form-label">Archivo de políticas</label>
            <input class="form-control" type="file" id="filePoliticas" (change)="onPoliticsFileChange($event)">
            </div>
            }
            @else {
            <div class="mb-3">
              <a class="me-3 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                href="{{ filePoliticas }}" target="_blank" rel="noopener noreferrer"><i
                class="fa-solid fa-arrow-up-right-from-square me-1"></i>Ver política</a>
            <a (click)="showPoliticasInput()" style="cursor: pointer;"
              class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i
                class="fa-solid fa-pen-to-square me-1"></i>Editar adjunto</a>
          </div>
          }
          @if (logoInput) {
          <div class="mb-3">
            <label for="logo_file" class="form-label">Logo del beneficio</label>
            <input class="form-control" [ngClass]="{ invalid: isValidField('fileLogo') }" type="file" id="logo_file"
              (change)="onLogoFileChange($event)">
          </div>
          }
          @else {
          <div class="mb-3">
            <a (click)="showLogoInput()" style="cursor: pointer;"
              class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i
                class="fa-solid fa-pen-to-square me-1"></i>Editar Logo</a>
          </div>
          }
        </p-panel>
        </div>

      <div class="mb-3">
        <p-panel header="Detalle">
          <div class="row">
            @for (benefitDetail of benefitDetails; track benefitDetail; let i = $index) {
            <div class="col-3 mb-2">
              <label class="form-check-label ms-2">
                <input type="checkbox" class="form-check-input"
                  [ngClass]="{invalid: !benefitDetailFormGroup?.valid && benefitDetailFormGroup?.touched}"
                  [formControl]="benefitDetailFormGroup?.get(benefitDetail.id?.toString())" />
                {{ benefitDetail.name }}
              </label>
            </div>
            }
          </div>
        </p-panel>
      </div>

      <div class="mb-3">
        <p-panel header="Válido">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <input type="checkbox" class="form-check-input" id="valid_id"
              [ngClass]="{'invalid': !createForm.get('valid_id')!.valid && createForm.get('valid_id')!.touched}"
              formControlName="valid_id" />
            <label class="form-check-label ms-2" for="valid_id">Válido</label>
          </div>
        </p-panel>
      </div>

      <div class="mb-3">
        <button class="btn btn-success float-end" type="submit" [disabled]="disableSubmitBtn">
          {{ benefit?.id ? "Actualizar" : "Crear" }}
        </button>
      </div>
    </form>
    </div>
    </div>