<app-navbar></app-navbar>
<div class="container-fluid pb-3">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed h-100 shadow">
            <admin-sidebar></admin-sidebar>
        </nav>
        <div class="col-md-2 ml-sm-auto col-lg-2 pt-3 px-4">

        </div>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
            <breadcrumbs></breadcrumbs>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>