<app-navbar></app-navbar>
<div class="container-fluid pb-3">
    <a class="btn btn-outline-secondary mt-2 d-md-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        Menú
    </a>
    <div class="row">
        <admin-offcanvas></admin-offcanvas>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed h-100 shadow">
            <admin-sidebar></admin-sidebar>
        </nav>
        <div class="col-md-2 ml-sm-auto col-lg-2 pt-3 px-4">

        </div>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
            <breadcrumbs></breadcrumbs>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>