<div class="card text-bg-light shadow">
    <div class="row d-flex flex-column flex-lg-row">
        <div class="col-12 col-lg-3 d-flex justify-content-around flex-column">
            <div class="d-flex justify-content-around mt-2">
                <img class="card-img-top" src="./assets/images/banco_horas.svg" alt="" style="height: 150px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Mi Banco de Horas</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent" *ngFor="let item of dataArray">{{ item }}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-around d-md-block">
            <bar-chart-component [data]="barChartData"></bar-chart-component>
        </div>
        <div class="col-12 col-lg-3 d-flex justify-content-around mb-md-3">
            <doughnut-chart-component [data]="doughutChartData"></doughnut-chart-component>
        </div>
    </div>
</div>