<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
        <nz-tree-node-toggle nzTreeNodeNoopToggle>
            <span nz-icon nzType="file" nzTheme="outline"></span>
        </nz-tree-node-toggle>
        <nz-tree-node-option>
            {{ node.name }}
        </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
        <nz-tree-node-toggle>
            <span nz-icon nzType="caret-down" nzTheme="outline" nzTreeNodeToggleRotateIcon>
                <svg viewBox="0 0 1024 1024" focusable="false" fill="currentColor" width="1em" height="1em"
                    data-icon="caret-down" aria-hidden="true">
                    <path
                        d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z">
                    </path>
                </svg>
            </span>
        </nz-tree-node-toggle>
        <nz-tree-node-option>
            {{ node.name }}
        </nz-tree-node-option>
    </nz-tree-node>
</nz-tree-view>