<div class="row">
  <div class="col">
    <form class="p-5" [formGroup]="createForm" (ngSubmit)="save()">

      <div class="mb-3">
        <label class="form-label" for="name">Nombre del Beneficio</label>
        <input [ngClass]="{'invalid': campoEsValido('name')}" class="form-control" type="text" formControlName="name"
          id="name" placeholder="Nombre Completo">
        <small *ngIf="campoEsValido('name')" class="text-danger">{{ benefitDetailNameErrors }}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="time_hours">Tiempo en horas (Opcional)</label>
        <input [ngClass]="{'invalid': campoEsValido('time_hours')}" class="form-control" type="number"
          formControlName="time_hours" id="time_hours" placeholder="Nombre Completo">
        <small *ngIf="campoEsValido('time_hours')" class="text-danger">{{ timeHoursErrors }}</small>
      </div>

      <div class="mb-3">
        <button class="btn btn-success float-end" type="submit" [disabled]="disableSubmitBtn">
          {{ ( benefitDetail.id ) ? 'Actualizar' : 'Crear' }}
        </button>
      </div>

    </form>
  </div>
</div>