<section>
  <p-panel>
    <ng-template pTemplate="header">
      <div class="d-flex flex-column">
        <h5 class="text-secondary">
          <i class="fa-solid fa-lock me-1"></i>
          Actualizar Contraseña
        </h5>
        <small class="mt-1 text-sm text-gray-600">
          Asegúrate de que tu cuenta esté usando una contraseña larga y única para estar seguros.
        </small>
      </div>
    </ng-template>
    <form [formGroup]="passwordForm" (ngSubmit)="save()" class="mt-6 space-y-6">
      <div class="form-floating mb-3 col-12 col-md-8">
        <input [ngClass]="{'invalid': campoEsValido('current_password')}" class="form-control" type="password"
          formControlName="current_password" id="current_password" placeholder="Contraseña Actual">
          <label class="form-label" for="current_password"><i class="fa-solid fa-lock-open me-1"></i>Contraseña
        Actual</label>
        @if (campoEsValido('current_password')) {
          <span class="form-text text-danger">{{ currentPasswordErrors
          }}</span>
        }
      </div>
      <div class="form-floating mb-3 col-12 col-md-8">
        <input [ngClass]="{'invalid': campoEsValido('password')}" class="form-control" type="password"
          formControlName="password" id="password" placeholder="Nueva Contraseña">
          <label class="form-label" for="password"><i class="fa-solid fa-key me-1"></i>Nueva Contraseña</label>
          @if (campoEsValido('password')) {
            <span class="form-text text-danger">{{ newPasswordErrors }}</span>
          }
        </div>
        <div class="form-floating mb-3 col-12 col-md-8">
          <input [ngClass]="{'invalid': campoEsValido('password_confirmation')}" class="form-control"
            type="password" formControlName="password_confirmation" id="password_confirmation"
            placeholder="Confirmar Contraseña">
            <label class="form-label" for="password_confirmation"><i class="fa-solid fa-key me-1"></i>Confirmar
          Contraseña</label>
          @if (campoEsValido('password_confirmation')) {
            <span class="form-text text-danger">{{
            newPasswordConfirmationErrors }}</span>
          }
        </div>
        <div class="flex items-center">
          <button class="btn btn-primary d-flex" type="submit">
            Actualizar
            @if (!loaded) {
              <div class="ms-1">
                <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
              </div>
            }
          </button>
        </div>
      </form>
    </p-panel>
  </section>