<div class="row">
    <div class="col">
        <form class="p-5" [formGroup]="createForm" (ngSubmit)="save()">
            <div class="mb-3 form-floating">
                <input [ngClass]="{ invalid: campoEsValido('name') }" class="form-control" type="text" formControlName="name" id="name"
                    placeholder="Nombre Completo" />
                <label class="form-label" for="name"><i class="fa-solid fa-box me-1"></i>Nombre de la Dependencia</label>
                <small *ngIf="campoEsValido('name')" class="text-danger">Value</small>
                </div>
            <div class="mb-3">
                <label class="form-label">Detalles de Beneficio Disponibles</label>
                <div class="row">
                    <div *ngIf="!loaded">
                        <i class="fa-solid fa-spinner fa-spin fa-xs"></i>
                    </div>
                    <nz-zorro-tree-select></nz-zorro-tree-select>
                    </div>
            </div>
            
            <div class="mb-3">
                <!-- <button class="btn btn-success float-end" type="submit" [disabled]="disableSubmitBtn">
                                                                                            {{ benefit.id ? "Actualizar" : "Crear" }}
                                                                                            </button> -->
            </div>
        </form>
    </div>
</div>