@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
$enable-gradients: false;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invalid {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.invalid-user {
  color: lightgray;
}