<p-tabView (CalendarReady)="printObject($event)" (onChange)="renderCalendars()">
  <p-tabPanel header="Mis beneficios">
    <p-tabView>
      <p-tabPanel header="Mis Beneficios Redimidos">
        <ng-template pTemplate="content">
          <my-benefits></my-benefits>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Mis Solicitudes">
        <ng-template pTemplate="content">
          <my-pending-benefits></my-pending-benefits>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </p-tabPanel>
  <p-tabPanel header="Mi Equipo">
    <p-tabView>
      <p-tabPanel header="Beneficios Redimidos">
        <ng-template pTemplate="content">
          <my-team></my-team>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Aprobaciones Pendientes">
        <ng-template pTemplate="content">
          <my-team-request></my-team-request>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </p-tabPanel>
</p-tabView>