<section class="align-items-center bg-gradient d-flex flex-column p-5 rounded-4 shadow-lg">

    <div class="d-flex align-items-center mx-2">
        <img src="./assets/images/app_logo.png" width="25" height="25" class="me-3">
        <h2 class="mb-2 text-light">Cuál es tu correo?</h2>
    </div>
    <small class="text-light">Si tu correo electrónico coincide con el que indicas aquí, te enviaremos un mail con
        instrucciones para el restablecimiento de tu clave</small>
    <form class="w-100" autocomplete="off" [formGroup]="forgottenPassForm" (ngSubmit)="requestPasswordReset()">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Nueva Contraseña"
                [ngClass]="{'invalid': isValidField('email')}">
            <label for="email" class="form-label">Correo Actual</label>
            @if (isValidField('email')) {
            <small class="text-danger">{{ emailErrors }}</small>
            }
        </div>
        <button class="btn btn-danger" [disabled]="!forgottenPassForm.valid">Solicitar</button>
    </form>
</section>